<div class="container profile">
  <div class="form_wrapper">
    <div class="profile_user">
      <div class="profile_user_image">
        <%= image_tag current_user.avatar_image %>
      </div>
      <div>
        <div class="profile_user_name">
          <div class="name">
            <%= @profile&.nickname %>
          </div>
          <div class="profile_user_edit_btn">
            <%= link_to '変更', edit_profile_path %>
          </div>
        </div>
        <div class="profile_user_id">
          ID
          <%= @profile&.my_id %>
        </div>
      </div>
    </div>
  </div>
</div>
