<div class="container">
  <% @foods.each do |food| %>
    <div class="card">
      <div class="card_image">
          <%= image_tag "no_food.png" %>
      </div>
      <div class="card_contents">
        <div class="card_name">
          <%= food.name %>
        </div>
        <div class="card_limit_day">
          <p>2030年1月20日まで</p>
        </div>
        <div class="card_count">
          <p>数量 3個</p>
        </div>
      </div>
    </div>
  <% end %>
</div>